* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  display: block;
}

body {
  color: var(--primary-text-color);
  background-color: var(--third-bg-color);
  font-family: Roboto, sans-serif;
}
/*убираем точки слева*/
ul {
  list-style: none;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --hero-text-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #ffffff;
  --second-bg-color: #2f303a;
  --third-bg-color: rgba(255, 255, 255, 1);
  --forth-bg-color: #f5f4fa;
}

/* цвет основного текста color: #757575; */
/* цвет вторичного текста color: #212121;*/

/* цвет текста и шапки color: #FFFFFF;*/

/* подвал названия тел. адрес color: rgba(255, 255, 255, 0.6);*/

/* цвет фона 1 шапка background: #FFFFFF;*/
/* цвет фона 2 подвал background: #2F303A; */
/* цвет фона main 3 background: #E5E5E5;*/
/* цвет фона 4 вторичный background: #F5F4FA; */

/* LOGO  color: акцент #2196F3; +color: #212121; */

/* top line */
/*спросить: почему если убрать класс .nav, то text-decoration: none; не работает?*/
.nav {
  text-decoration: none;
}
.header-decor {
  background-color: var(--primary-bg-color);
  margin-top: 0px;
  margin-bottom: 0px;
}

/* ==================== LOGOTIP===================*/

.nav .accent-logo {
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.nav .logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
/*настройка слова Studio в футере */
.logotip {
  color: var(--hero-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
/* ====================END LOGOTIP===================*/

/* ======================TOP LINE=====================*/

.site-nav .link {
  display: block;
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
.site-nav .link.current {
  color: var(--accent-text-color);
}

.navigation .link {
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  font-style: normal;
}
.navigation .link:hover,
.navigation .link:focus {
  color: var(--accent-text-color);
}
.navigation .link.current {
  color: var(--accent-text-color);
}
/* ====================END TOP LINE===================*/

/* */
.heading {
  background-color: var(--second-bg-color);
  box-sizing: border-box;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 280px;
}

/* ==================== HEADER===================*/
.color-white {
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

/*button studio*/
.button-studio {
  color: var(--hero-text-color);
  background-color: var(--accent-text-color);
  font-weight: 700;

  font-size: 16px;
  line-height: 1.87;
  border: 0px;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  margin-top: 30px;
  display: block;
  margin: auto;
}

/*стилизация шапки сайта, придание цвета фону*/

.header-dec {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: var(--primary-bg-color);
  width: 1200px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
/*====================СТИЛИ ДЛЯ ГЕОМЕТРИИ КОНТЕНТА ШАПКИ================= */
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}
/*чистим крайнюю геометрию(убираем отступ справа у последнего элемента )
.site-nav .item:last-child {
  margin-right: 0;
} 
OR

.site-nav .item:not(:last-child) {
  margin-right: 50px;
  }*/

.links-main .links + .links {
  margin-left: 50px;
}
.links-main {
  display: flex;
}

.navigation {
  margin-left: auto;
}

.links-main .item + .item {
  margin-left: 50px;
}

.main-div {
  display: flex;
  align-items: center;
}

/*====================END СТИЛИ ДЛЯ ГЕОМЕТРИИ КОНТЕНТА ШАПКИ================= */

/* ====================END HEADER===================*/

/* ====================  benefits of cooperation===================*/
.benefits {
  margin-top: 94px;
}

.features .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.benefits .title + .title {
  margin-left: 30px;
}
.benefits .title {
  padding-bottom: 10px;
}
.features .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.text {
  width: 270px;
  height: 75px;
}
.bgc-benef {
  background-color: var(--third-bg-color);
}
.features {
  display: flex;
}

/*задаем верхний отступ*/

/* ====================END  benefits of cooperation===================*/

/* ==================== about our team container===================*/
.bgc-our-team {
  background-color: var(--forth-bg-color);
}
.what-we-do-ul {
  display: flex;
}
.what-we-do-ul .what-we-do-li + .what-we-do-li {
  margin-left: 30px;
}
.what-we-do-li {
  padding-bottom: 94px;
  padding-top: 50px;
}

.our-team-ul {
  display: flex;
}
.our-team-ul .our-team-li + .our-team-li {
  margin-left: 30px;
}
.our-team-li {
  width: 270px;
  height: 368px;
  background-color: var(--primary-bg-color);
  margin-bottom: 94px;
  margin-top: 50px;
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
  text-align: center;
  padding-top: 94px;
}
.team {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  padding-top: 30px;
}
.desc {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}
/* ====================END about our team container===================*/

/*footer*/

.footer {
  background-color: var(--second-bg-color);
  text-decoration: none;
  list-style: none;
}
.footer-addr {
  color: var(--hero-text-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.footer-link {
  color: var(--footer-text-color);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  list-style: none;
}
.text-elem {
  font-size: 16px;
  line-height: 1.87;
}
.footer-li {
  padding-top: 9px;
}
.footer-tel {
  padding-bottom: 60px;
  padding-top: 9px;
}
.decor-footer {
  padding-top: 60px;
  padding-bottom: 20px;
}
/* ====================END FOOTER===================*/

/*=====================button portfolio======================*/

.button {
  color: var(--title-text-color);
  background-color: var(--third-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.button .but:hover,
.button .but:focus {
  color: var(--hero-text-color);
  background-color: var(--accent-text-color);
}
.button.primary {
  color: var(--hero-text-color);
  background-color: var(--accent-text-color);
}

.but {
  border: 0px;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
}

.button-section .button {
  display: flex;
  padding-top: 94px;
  justify-content: center;
  padding-bottom: 50px;
}
.button .title + .title {
  margin-left: 8px;
}

/*=====================END button portfolio======================*/

/*=========================PORTFOLIO============================*/

.features .features-li + .features-li {
  margin-left: 30px;
}

.features-li {
  background-color: var(--primary-bg-color);
  width: 370px;
  height: 404px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.features-li .title {
  padding-top: 20px;
}
.features-li .text-elem {
  padding-top: 4px;
  padding-bottom: 20px;
}

.features {
  flex-wrap: wrap;
}

/*=========================PORTFOLIO============================*/

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
